.App {
  font-family: "Cairo", sans-serif;
}

.App .BackgroundImage {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.form input {
  color: #0e3b68;
  background: rgb(225, 228, 232, 0.8);
  border: 10px solid transparent;
  border-radius: 8px;
  margin-block-end: 20px;
}

.form button {
  color: #0e3b68;
  background: rgb(225, 228, 232, 0.8);
  border: 10px solid transparent;
  border-radius: 8px;
  margin-block-end: 20px;
  transition: all 150ms ease-in-out;
}

.form button:hover {
  background: rgba(169, 200, 206);
}

.Cityfirst {
  font-family: "Patrick Hand", cursive;
  color: #e1e4e8;
  font-size: 28px;
  margin-bottom: 0;
}
.Citysecond {
  font-family: "Patrick Hand", cursive;
  font-size: 22px;
  color: rgb(225, 228, 232, 0.8);
}

.list-group {
  color: #0e3b68;
  font-size: 17px;
  list-style-type: none;
  font-family: "Cairo", sans-serif;
}
.currentDescription:first-letter {
  text-transform: capitalize;
}
h1 {
  text-align: center;
  font-size: 50px;
  line-height: 2em;
  margin-bottom: -3.5rem;
}
.currentIcon {
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: -1rem;
}

a {
  text-decoration: none;
  color: #404969;
}
a:hover {
  color: #00008b;
}
.forecast-text {
  font-size: 18px;
  margin-bottom: 0rem;
  line-height: 1;
  color: #0e3b68;
}

.forecast-icon {
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 14px;
  text-align: center;
}

.weather-forecast-temperatures-min {
  opacity: 0.8;
}

#current-date {
  font-size: 14px;
  text-align: right;
}

#last-update {
  font-size: 14px;
  text-align: right;
  opacity: 0.8;
}

.open-source-link {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  font-family: monospace;
  font-size: 14px;
  color: #3186b2;
}

.container {
  background: rgb(108, 170, 198, 0.5);
  max-width: 700px;
  margin: 30px auto;
  padding: 36px;
  border-radius: 10px;
  color: #0e3b68;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
